 .intro-title {
     font-size: 2.5em;
     /* Kích thước tiêu đề lớn */
     margin-bottom: 20px;
     /* Khoảng cách phía dưới tiêu đề */
     text-align: center;
     /* Căn giữa */
     color: rgb(108, 181, 250);
     /* Màu tím cho tiêu đề */
     text-transform: uppercase;
     /* Chữ hoa */
     letter-spacing: 1px;
     /* Khoảng cách giữa các chữ cái */
 }
 
 .intro-text {
     font-size: 1.2em;
     /* Kích thước chữ */
     line-height: 1.8;
     /* Khoảng cách dòng lớn */
     text-align: justify;
     /* Căn đều hai bên */
     margin: 0 20px;
     /* Thêm khoảng cách bên trái và bên phải */
     color: #555;
     /* Màu chữ xám */
     padding: 20px;
     /* Khoảng đệm bên trong */
     border-radius: 10px;
     /* Bo tròn góc */
 }
 
 .content {
     padding: 40px;
     /* Thêm khoảng đệm cho toàn bộ nội dung */
 }
 
 .grid {
     max-width: auto;
     /* Giới hạn chiều rộng */
     margin: auto;
     /* Căn giữa */
 }
 
 .footer {
     background-color: #000;
     /* Màu nền đen */
     color: #fff;
     /* Màu chữ trắng */
     padding: 30px;
 }
 
 .footer-wrap {
     display: flex;
     justify-content: space-between;
     max-width: 1600px;
     margin: 0 auto;
 }
 
 .footer-section {
     flex: 1;
     margin-right: 30px;
 }
 
 .footer-section h3 {
     color: #ccc;
     font-size: 16px;
     margin-bottom: 10px;
 }
 
 .footer-section p,
 .footer-section a {
     color: #aaa;
     font-size: 14px;
     text-decoration: none;
     margin: 5px 0;
     display: block;
 }
 
 .footer-section a:hover {
     color: red;
 }
 
 .search-box {
     display: flex;
     align-items: center;
     border: 1px solid #666;
     padding: 5px;
     margin-top: 10px;
 }
 
 .search-box input[type="text"] {
     flex: 1;
     border: none;
     outline: none;
     color: #fff;
     background-color: transparent;
     padding: 5px;
 }
 
 .search-box button {
     background-color: #007bff;
     color: #fff;
     border: none;
     padding: 5px 10px;
     cursor: pointer;
 }
 
 .search-box button:hover {
     background-color: #0056b3;
 }
 
 .header__logo a {
     font-size: 50px;
 }
 
 .header-wrap {
     background-color: lightblue;
     height: 100px;
 }
 
 .navbar {
     margin-top: 10px;
 }
 
 .footer-copyright a {
     text-decoration: none;
     color: yellow;
 }
 
 .footer-copyright a:hover {
     color: red;
 }